@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
body {
    font-family: 'Itim', cursive;
    margin: 0;
}
:root {
  --primary-color: rgb(28, 31, 30);
  --mint: #2cbcc6;
  --ofwhite: #e2e8f0;
}

.nav {
  /* background-color: var(--primary-color);
  background: linear-gradient(
    0deg,
    rgba(28, 31, 30, 0.5888480392156863) 0%,
    rgba(77, 73, 68, 1) 0%,
    rgba(207, 207, 207, 1) 62%
  ); */
  background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  padding: 1rem 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 2px solid black;
  position: sticky;
}

.brand {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  height: 5vh;
  width: 100%;
  color: rgba(236, 202, 35, 0.863);
  margin: auto;
  align-items: center;
}
.button {
  background-color: rgb(244, 244, 243);
  width: 120px;
  font-weight: bold;
  height: 30px;
  border-radius: 1rem;
}
.text {
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
  color: rgb(0, 0, 0);
}
.output {
  font-weight: bold;
  padding-top: 0.5rem;
  background-color: white;
  border-radius: 1rem;
}
.image {
  max-width: 100px;
  margin: auto;
  display: block;
  margin: auto;
  padding: 0rem 1rem;
}
.footer {
  /* background-color: var(--primary-color);
  background: linear-gradient(
    0deg,
    rgba(28, 31, 30, 0.5888480392156863) 0%,
    rgb(225, 206, 33) 0%,
    rgba(207, 207, 207, 1) 62%
  ); */
  background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 15vh;
  margin: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: 2px solid black;
}
.bimg {
    background: linear-gradient( rgba(255,255,255,.2),rgba(255,255,255,.2)),url(/m2.jpg); 
  background-size: cover;
  background-position: center;
  margin-top: -1rem;
  height: 25rem;
}
.minion {
  text-align: center;
  opacity: 1;
  margin: auto;
  max-width: 600px;
  padding: 5rem 0rem;

}
